<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/Data_Wrangling_Single_Table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
cia = pd.read_csv("https://raw.githubusercontent.com/gjm112/DSCI401/main/data/CIACountries.csv")
print(cia.columns)
cia.head

Index(['country', 'pop', 'area', 'oil_prod', 'gdp', 'educ', 'roadways',
       'net_users'],
      dtype='object')

<bound method NDFrame.head of             country       pop       area   oil_prod      gdp  educ  roadways  \
0       Afghanistan  32564342   652230.0        0.0   1900.0   NaN  0.064624
1           Albania   3029278    28748.0    20510.0  11900.0   3.3  0.626131
2           Algeria  39542166  2381741.0  1420000.0  14500.0   4.3  0.047719
3    American Samoa     54343      199.0        0.0  13000.0   NaN  1.211055
4           Andorra     85580      468.0        NaN  37200.0   NaN  0.683761
..              ...       ...        ...        ...      ...   ...       ...
231       West Bank   2785366     5860.0        0.0   4300.0   NaN  0.799659
232  Western Sahara    570866   266000.0        0.0   2500.0   NaN       NaN
233           Yemen  26737317   527968.0   125100.0   2700.0   5.2  0.135046
234          Zambia  15066266   752618.0        0.0   3900.0   1.3  0.053751
235        Zimbabwe  14229541   390757.0        0.0   2100.0   2.5  0.248919

    net_users
0         >5%
1        >35%
2        >15%
3         NaN
4        >60%
..        ...
231      >35%
232       NaN
233      >15%
234      >15%
235      >15%

[236 rows x 8 columns]>

In [9]:
cia.describe()

,population,area,oil_prod,gdp,educ,roadways
count,2.360000e+02,2.360000e+02,2.130000e+02,228.000000,173.000000,223.000000
mean,3.074785e+07,5.778759e+05,3.731250e+05,21398.245614,4.854913,1.108489
std,1.256159e+08,1.763384e+06,1.324249e+06,22462.473777,2.142928,3.048419
min,4.800000e+01,0.000000e+00,0.000000e+00,400.000000,0.600000,0.006393
25%,3.435062e+05,2.498250e+03,0.000000e+00,4775.000000,3.300000,0.122394
50%,5.311480e+06,7.358000e+04,0.000000e+00,13750.000000,4.700000,0.334738
75%,1.835076e+07,4.146432e+05,5.113000e+04,31650.000000,5.900000,1.153948
max,1.367485e+09,1.709824e+07,1.084000e+07,132100.000000,13.000000,38.500000

# Rename

In [2]:
#I'm going to change the name of pop because that's a function in python.
cia = cia.rename(columns={"pop": "population"})
cia.head

<bound method NDFrame.head of             country  population       area   oil_prod      gdp  educ  \
0       Afghanistan    32564342   652230.0        0.0   1900.0   NaN
1           Albania     3029278    28748.0    20510.0  11900.0   3.3
2           Algeria    39542166  2381741.0  1420000.0  14500.0   4.3
3    American Samoa       54343      199.0        0.0  13000.0   NaN
4           Andorra       85580      468.0        NaN  37200.0   NaN
..              ...         ...        ...        ...      ...   ...
231       West Bank     2785366     5860.0        0.0   4300.0   NaN
232  Western Sahara      570866   266000.0        0.0   2500.0   NaN
233           Yemen    26737317   527968.0   125100.0   2700.0   5.2
234          Zambia    15066266   752618.0        0.0   3900.0   1.3
235        Zimbabwe    14229541   390757.0        0.0   2100.0   2.5

     roadways net_users
0    0.064624       >5%
1    0.626131      >35%
2    0.047719      >15%
3    1.211055       NaN
4    0.683761      >60%
..        ...       ...
231  0.799659      >35%
232       NaN       NaN
233  0.135046      >15%
234  0.053751      >15%
235  0.248919      >15%

[236 rows x 8 columns]>

In [ ]:
print(cia.shape)
print(type(cia.country))

(236, 8)
<class 'pandas.core.series.Series'>

# Filter and select

In [17]:
cia[0:3]

       country  population       area   oil_prod      gdp  educ  roadways  \
0  Afghanistan    32564342   652230.0        0.0   1900.0   NaN  0.064624
1      Albania     3029278    28748.0    20510.0  11900.0   3.3  0.626131
2      Algeria    39542166  2381741.0  1420000.0  14500.0   4.3  0.047719

  net_users
0       >5%
1      >35%
2      >15%
0      32564342
1       3029278
2      39542166
3         54343
4         85580
         ...
231     2785366
232      570866
233    26737317
234    15066266
235    14229541
Name: population, Length: 236, dtype: int64

In [18]:
cia["population"]

0      32564342
1       3029278
2      39542166
3         54343
4         85580
         ...
231     2785366
232      570866
233    26737317
234    15066266
235    14229541
Name: population, Length: 236, dtype: int64

In [20]:
cia.loc[0:3,["population","area"]]

   population       area
0    32564342   652230.0
1     3029278    28748.0
2    39542166  2381741.0
3       54343      199.0

In [ ]:
#Subet of rows based on a condition
cia[cia["population"] > 1000000000]

#Or this
cia[cia.population > 1000000000]

#Note that this doesn't work if I leave the name as pop!
#cia[cia.pop > 1000000000]

,country,population,area,oil_prod,gdp,educ,roadways,net_users
42,China,1367485388,9596960.0,4189000.0,14100.0,NaN,0.427884,>35%
96,India,1251695584,3287263.0,767600.0,6200.0,3.2,1.426671,>15%

In [ ]:
#Subset of columns
cia[["country","population","gdp"]]

            country  population      gdp
0       Afghanistan    32564342   1900.0
1           Albania     3029278  11900.0
2           Algeria    39542166  14500.0
3    American Samoa       54343  13000.0
4           Andorra       85580  37200.0
..              ...         ...      ...
231       West Bank     2785366   4300.0
232  Western Sahara      570866   2500.0
233           Yemen    26737317   2700.0
234          Zambia    15066266   3900.0
235        Zimbabwe    14229541   2100.0

[236 rows x 3 columns]

# Filter and select together

In [ ]:
#Subset of columns 
cia[cia.population > 1000000000][["country","population","gdp"]]

   country  population      gdp
42   China  1367485388  14100.0
96   India  1251695584   6200.0

In [ ]:
#Or you can use loc
cia.loc[cia.population > 1000000000,["country","population","gdp"]]

   country  population      gdp
42   China  1367485388  14100.0
96   India  1251695584   6200.0

# Mutate and rename

In [24]:
cia["dens"] = cia["population"]/cia["area"]
cia.head()

,country,population,area,oil_prod,gdp,educ,roadways,net_users,dens
0,Afghanistan,32564342,652230.0,0.0,1900.0,NaN,0.064624,>5%,49.927697
1,Albania,3029278,28748.0,20510.0,11900.0,3.3,0.626131,>35%,105.373522
2,Algeria,39542166,2381741.0,1420000.0,14500.0,4.3,0.047719,>15%,16.602211
3,American Samoa,54343,199.0,0.0,13000.0,NaN,1.211055,NaN,273.080402
4,Andorra,85580,468.0,NaN,37200.0,NaN,0.683761,>60%,182.863248

In [25]:
#I already did this, but here it is again.
cia = cia.rename(columns={"pop": "population"})
cia.head

<bound method NDFrame.head of             country  population       area   oil_prod      gdp  educ  \
0       Afghanistan    32564342   652230.0        0.0   1900.0   NaN
1           Albania     3029278    28748.0    20510.0  11900.0   3.3
2           Algeria    39542166  2381741.0  1420000.0  14500.0   4.3
3    American Samoa       54343      199.0        0.0  13000.0   NaN
4           Andorra       85580      468.0        NaN  37200.0   NaN
..              ...         ...        ...        ...      ...   ...
231       West Bank     2785366     5860.0        0.0   4300.0   NaN
232  Western Sahara      570866   266000.0        0.0   2500.0   NaN
233           Yemen    26737317   527968.0   125100.0   2700.0   5.2
234          Zambia    15066266   752618.0        0.0   3900.0   1.3
235        Zimbabwe    14229541   390757.0        0.0   2100.0   2.5

     roadways net_users        dens
0    0.064624       >5%   49.927697
1    0.626131      >35%  105.373522
2    0.047719      >15%   16.602211
3    1.211055       NaN  273.080402
4    0.683761      >60%  182.863248
..        ...       ...         ...
231  0.799659      >35%  475.318430
232       NaN       NaN    2.146113
233  0.135046      >15%   50.641927
234  0.053751      >15%   20.018477
235  0.248919      >15%   36.415319

[236 rows x 9 columns]>

# Sorting

In [26]:
cia.sort_values(by = "population", ascending = False)

,country,population,area,oil_prod,gdp,educ,roadways,net_users,dens
42,China,1367485388,9596960.0,4189000.0,14100.0,NaN,0.427884,>35%,142.491517
96,India,1251695584,3287263.0,767600.0,6200.0,3.2,1.426671,>15%,380.771354
223,United States,321368864,9826675.0,8653000.0,55800.0,5.4,0.670279,>60%,32.703724
97,Indonesia,255993674,1904569.0,789800.0,11100.0,2.8,0.260745,>15%,134.410291
27,Brazil,204259812,8514877.0,2255000.0,15600.0,5.8,0.185671,>35%,23.988580
...,...,...,...,...,...,...,...,...,...
211,Tokelau,1337,12.0,NaN,1000.0,NaN,NaN,>35%,111.416667
154,Niue,1190,260.0,0.0,5800.0,NaN,0.461538,>60%,4.576923
91,Holy See (Vatican City),842,0.0,NaN,NaN,NaN,NaN,NaN,inf
44,Cocos (Keeling) Islands,596,14.0,NaN,NaN,NaN,1.571429,NaN,42.571429
166,Pitcairn Islands,48,47.0,NaN,NaN,NaN,NaN,NaN,1.021277

In [27]:
cia.sort_values(by = "population", ascending = True)

,country,population,area,oil_prod,gdp,educ,roadways,net_users,dens
166,Pitcairn Islands,48,47.0,NaN,NaN,NaN,NaN,NaN,1.021277
44,Cocos (Keeling) Islands,596,14.0,NaN,NaN,NaN,1.571429,NaN,42.571429
91,Holy See (Vatican City),842,0.0,NaN,NaN,NaN,NaN,NaN,inf
154,Niue,1190,260.0,0.0,5800.0,NaN,0.461538,>60%,4.576923
211,Tokelau,1337,12.0,NaN,1000.0,NaN,NaN,>35%,111.416667
...,...,...,...,...,...,...,...,...,...
27,Brazil,204259812,8514877.0,2255000.0,15600.0,5.8,0.185671,>35%,23.988580
97,Indonesia,255993674,1904569.0,789800.0,11100.0,2.8,0.260745,>15%,134.410291
223,United States,321368864,9826675.0,8653000.0,55800.0,5.4,0.670279,>60%,32.703724
96,India,1251695584,3287263.0,767600.0,6200.0,3.2,1.426671,>15%,380.771354
42,China,1367485388,9596960.0,4189000.0,14100.0,NaN,0.427884,>35%,142.491517

# Summarize and grouping

In [57]:
cia["high_educ"] = cia["educ"] > 4.5
cia[["high_educ","area"]].dropna(how = "any").groupby("high_educ").mean()

                    area
high_educ
False      490582.442177
True       722057.325843

In [67]:
cia.loc[cia["educ"].notna()].groupby("high_educ").mean()

,population,area,oil_prod,gdp,educ,roadways,dens
high_educ,,,,,,,
False,3.929746e+07,602414.535714,375269.162500,22771.084337,3.208333,1.458381,774.764043
True,2.390677e+07,722057.325843,403539.333333,19567.415730,6.408989,0.929741,148.743308

In [66]:
cia.loc[cia["educ"].notna()].groupby("high_educ").mean()["area"]

high_educ
False    602414.535714
True     722057.325843
Name: area, dtype: float64

#In class assignments!

*   What first letter has the largest population? 
*   What proportion of countries produce any oil stratified by net users class?